<% provide(:title, 'Find-WIFI')%>
<div class="findwifi">
	<div class="row container">
		<div class="span9 offset1 center">
			<h1>Where do you want to use the internet?</h1>
			<ul class="nav inline">
				<li><%= link_to "Makati", '#'%></li>
				<li><%= link_to "Fort Bonifacio", '#'%></li>
				<li><%= link_to "Quezon City", '#'%></li>
				<li><%= link_to "Mandaluyong", '#'%></li>
			</ul>
		</div>
	</div>
</div>