<% provide(:title, 'Home')%>
<div class="home">
	<div class="container">
	<div class="row">
		<div class="span9 offset1 center">
			<h1>Stay connected in the Philippines!</h1>
			<h3>Find a Wifi Spot near you.</h3><%= link_to "Sign up free!", signup_path, class: 'btn btn-primary btn-large' %>
		</div>
	</div>
</div>
</div>
