<div class="footer">
	<div class="container">
	<div class="pull-left"><small>Pinoy Dev © 2013</div>
		<nav>
		<ul class="pull-right nav inline">
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Help", '#' %></li>	
		</ul>
	</nav>
</div>
</div>